/* purgecss start ignore */
@import 'highlight.js/styles/solarized-dark';

.content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-2xl font-serif;
}

h3, h4, h5, h6 {
  @apply text-xl;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p {
  @apply mt-4;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

pre code {
  @apply my-4;
}

p code {
  display: inline-block;
  @apply bg-gray-300 text-sm p-1 rounded-sm font-semibold;
}

blockquote {
  @apply border-l-4 border-gray-600 italic pl-4;
}
/* purgecss end ignore */
