/*noinspection CssUnknownTarget*/
@import 'highlight.js/styles/solarized-dark';

/* purgecss start ignore */
h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-2xl font-serif;
}

h3 {
  @apply text-xl;
}

h4, h5, h6 {
  @apply font-black;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p {
  @apply my-4;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

pre code {
  @apply hljs my-4;
}

p code {
  display: inline-block;
  @apply bg-gray-300 text-sm p-1 rounded-sm font-semibold;
}

blockquote {
  @apply border-l-4 border-gray-600 italic pl-4;
}

label {
  @apply block text-gray-600 text-sm font-bold mb-2;
}

textarea,
input[type="text"],
input[type="password"] {
  @apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  @apply outline-none border-blue-500;
}

button {
  @apply text-gray-600 font-bold py-2 px-4 rounded border-gray-500 border shadow;
}

.ProseMirror {
  outline: none;
}
/* purgecss end ignore */

.content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.editor {
  max-height: calc(100vh - 70px);
  height: calc(100vh - 70px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.editor__content {
  flex: 1 0 auto;
  height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  overflow-y: auto;
  padding-bottom: 20px;
}
